<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bing.community.dao.CommunityDao">
	<!-- 전체 커뮤니티 탐색 -->
	<select id="selectAll" resultType="Community">
		SELECT * FROM community
	</select>

	<!-- 커뮤니티 하나 선택 -->
	<select id="selectOne" parameterType="int"
		resultType="Community">
		SELECT * FROM community
		WHERE community_id = #{community_id}
	</select>

	<!-- 커뮤니티 만들기 -->
	<insert id="insertCommunity" parameterType="Community">
		INSERT INTO community(community_id,community_name, admin_id,
		community_description)
		VALUES(#{community_id}, #{community_name}, #{admin_id}, #{community_description})
	</insert>

	<!-- 커뮤니티 수정하기 -->
	<update id="updateCommunity" parameterType="Community">
		UPDATE community
		SET community_name=#{community_name}, community_description =
		#{community_description}
	</update>

	<!-- 커뮤니티 삭제하기 -->
	<delete id="deleteCommunity" parameterType="int">
		DELETE FROM community
		WHERE community_id = #{community_id}
	</delete>
</mapper>