<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bing.community.model.dao.FollowDao">
	<select id="selectFollowing" parameterType="string" resultType="Follow">
		SELECT * FROM follow
		WHERE follow_from = #{email}
	</select>
	<select id="selectFollower" parameterType="string" resultType="Follow">
		SELECT * FROM follow
		WHERE follow_to = #{user_email}
	</select>
	<insert id="insertFollow" parameterType="Follow">
		INSERT INTO follow (follow_from, follow_to)
		VALUES (#{follow_from}, #{follow_to})
	</insert>
	<delete id="deleteFollow" parameterType="integer">
		DELETE FROM follow
		WHERE follow_id = #{follow_id}
	</delete>
	
</mapper>