<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bing.community.model.dao.LocationDao">
	<!-- 모든 장소 조회 -->
	<select id="selectAll" resultType="Location">
		SELECT * FROM location
	</select>

	<!-- 장소 하나 조회할것 -->
	<select id="selectOne" parameterType="int" resultType="Location">
		SELECT *
		FROM location
		WHERE location_id = #{location_id}
	</select>

	<!-- 장소 등록하기 -->
	<insert id="insertLocation" parameterType="Location">
		INSERT INTO
		location(location_id, place_name, address_name)
		VALUES(#{location_id}, #{place_name}, #{address_name})
	</insert>

	<!-- 등록했던 장소 수정하기 -->
	<update id="updateLocation" parameterType="Location">
		UPDATE location
		SET
		locationd_id = #{locationd_id}, place_name = #{place_name},
		address_name = #{address_name}
	</update>

	<!-- 등록했던 장소 삭제하기 -->
	<delete id="deleteLocation" parameterType="Location">
		DELETE FROM location
		WHERE location_id = #{location_id}
	</delete>
	
	<!-- 장소 검색하기 -->
	<select id="searchLocation" parameterType="SearchCondition" resultType="Location">
		SELECT * FROM location
		<if test="key == 'location_name'">
		WHERE ${key} LIKE CONCAT('%',#{word},'%')
		</if>
	</select>
</mapper>